@import "src/styles/variables";

.ang-form-field-wrapper {
  position: relative;
  width: fit-content;
  display: inline-block;
  margin-top: calc(0.5em + 12px);
  margin-bottom: calc(1em + 3px);
}

.ang-form-field-main-content {
  position: relative;
}

label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 0.5rem;
  margin-top: -0.5rem;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  line-height: 1;
}

.ang-form-field-focused {
  label {
    top: -0.5rem;
    font-size: 12px;
  }
}

.ang-form-field-filled {
  label {
    top: -0.5rem;
    font-size: 12px;
  }
}

[angPreffix],
[angSuffix] {
  position: absolute;
  top: calc(50% - 0.5em);
  color: #6c757d;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}

[angPreffix] {
  left: 0.75rem;
}

[angSuffix] {
  right: 0.75rem;
}

.ang-form-field-has-prefix [angInput] {
  padding-left: 2.5rem;
}

.ang-form-field-has-suffix [angInput] {
  padding-right: 2.5rem;
}

.loader {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ang-form-field-subscript-wrapper {
  position: absolute;
  margin-top: 3px;
  font-size: 0.75em;

  ang-error,
  [angError] {
    color: $warn;
  }
}
