// @import 'themes';
// @import '~@nebular/theme/styles/globals';

// @include nb-install() {
//   @include nb-theme-global();
// };

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./reset.scss";

@import "global";

@include ang-theme-components();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
