<div class="test-component-wrapper-list">
  <!-- <div>
    <p>Normal input:</p>
    <input type="text" angInput />
  </div>

  <div>
    <p>Input with validators:</p>
    <input type="text" angInput [formControl]="control2" />

    <p>Show sucess color:</p>
    <input type="text" angInput [formControl]="control3" showSuccess />
  </div>

  <div>
    <p>Input with icons:</p>
    <ang-form-field>
      <span class="material-icons" angPreffix>shopping_cart</span>
      <input type="text" angInput />
    </ang-form-field>

    <ang-form-field>
      <span class="material-icons" angSuffix>done</span>
      <input type="text" angInput />
    </ang-form-field>

    <p>Input with icons without form field:</p>
    <div class="ang-input-icon-left">
      <span class="material-icons">search</span>
      <input type="text" angInput />
    </div>

    <div class="ang-input-icon-right">
      <input type="text" angInput />
      <span class="material-icons">refresh</span>
    </div>
  </div>

  <div class="width-500">
    <p>Normal input:</p>
    <input type="text" angInput />

    <p>Input with full width:</p>
    <input type="text" angInput fullWidth />
  </div>

  <div>
    <p>Input with error:</p>
    <ang-form-field>
      <input type="text" angInput [formControl]="control3" />
      <ang-error>{{ getErrorMessage(3) }}</ang-error>
    </ang-form-field>
  </div>

  <div>
    <p>Input pending spinner:</p>
    <ang-form-field showPending>
      <input type="text" angInput [formControl]="control4" />
    </ang-form-field>
  </div>

   <div>
    <p>Input with a label:</p>
    <ang-form-field>
      <label">Label for input</label>
      <input type="text" angInput [formControl]="control5" />
    </ang-form-field>
  </div> 

  <div>
    <p>Input hint:</p>
    <ang-form-field>
      <input type="text" angInput [formControl]="controls[5]" />
      <ang-error>{{ getErrorMessage(5) }}</ang-error>
      <ang-hint>This is a hint</ang-hint>
    </ang-form-field> 
  </div> -->

  <div class="d-flex flex-column">
    <p>Input hint:</p>
    <ang-form-field>
      <label>Label (Disabled)</label>
      <input type="text" angInput [formControl]="controls[6]" [disabled]="disableControl.value" />
    </ang-form-field>

    <div>
      <input id="disable-control" type="checkbox" [formControl]="disableControl" [value]="true" />
      <label for="disable-control"> Disable control</label>
    </div>
  </div>
</div>
